.accordionCard.card{
    border: none;
    border-radius: 0;
    
}
.accordionCard.card .nav-link{
    border-radius: 5px;
}
.item-enter {
    opacity: 0;
}
    .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

@media (max-width: 576px) { 
    .nav-button{
        width: 100%;
    }
}
@media (max-width: 991px) { 
    .sidebar{
        margin-top: 56px;
    }
}
@media (min-width: 992px) { 
    .sidebar{
        position: fixed !important;
        top: 56px;
        height: 100% !important;
        z-index: 0;
    }

    .searchTopform.searchForm .form-control{
        min-width: 400px;
    }
}
$dark-purple: #563d7c !default;
$dark-teal:    #40B883 !default;
$bluewood:    #35495f !default;
$white: #fff !default;
$shark: #20232a !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
    (
            "dark-teal":       $dark-teal,
            "dark-purple":     $dark-purple,
            "bluewood":        $bluewood,
            "shark":        $shark,
            "white":        $white
    ),
    $colors
);
$custom-indigo: $indigo !default;
$custom-purple: $purple !default;
$custom-dark-purple: $dark-purple !default;
$custom-pink:   $pink !default;
$custom-teal:   $teal !default;
$custom-dark-teal:   $dark-teal !default;
$custom-bluewood:   $bluewood !default;
$custom-shark:   $shark !default;
$custom-white:   $white !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
            "custom-indigo":       $custom-indigo,
            "custom-purple":       $custom-purple,
            "custom-dark-purple":       $custom-dark-purple,
            "custom-pink":         $custom-pink,
            "custom-teal":         $custom-teal,
            "custom-dark-teal":         $custom-dark-teal,
            "custom-bluewood":         $custom-bluewood,
            "custom-shark":         $custom-shark,
            "custom-white":         $custom-white
    ),
    $theme-colors
);
  